

.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

@media (max-width: 768px){
    users-table {
        font-size: 14px;
    }

    .users-table th,
    .users-table td {
        padding: 5px;
    }
}

.avatar {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

#read-button {
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

